.timeline {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(50, 50, 50, 0.04);
}

.timeline .process {
  display: flex;
  height: 35px;
  margin-bottom: 1px;
}

.timeline header {
  display: flex;
  height: 35px;
  margin-bottom: 1px;
  font-weight: bold;
}

/* Labels */

.timeline aside {
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* Main */

.timeline main {
  /* background-color: rgba(0, 0, 0, 0.1); */
  position: relative;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.timeline main header {
  display: block;
}
.timeline main header .step {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}

.timeline main .arrival {
  display: inline-block;
  background-color: rgba(0, 0, 255, 0.7);
  height: 35px;
}

.timeline main .burst {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.7);
  height: 35px;
}
