body {
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Roboto, 'Segoe UI',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
  font-weight: 400;
  line-height: 1.1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controls {
  display: flex;
  flex-direction: row;
}

.control {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(50, 50, 50, 0.04);
}

.control p {
  margin-top: 0;
}

/* Timeline */

.timeline {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(50, 50, 50, 0.04);
}

.timeline .process {
  display: flex;
  height: 35px;
  margin-bottom: 1px;
}

.timeline header {
  display: flex;
  height: 35px;
  margin-bottom: 1px;
  font-weight: bold;
}

/* Timeline Labels */

.timeline aside {
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* Timeline Main */

.timeline main {
  /* background-color: rgba(0, 0, 0, 0.1); */
  position: relative;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.timeline main header {
  display: block;
}
.timeline main header .step {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}

.timeline main .arrival {
  display: inline-block;
  background-color: rgba(0, 0, 255, 0.7);
  height: 35px;
}

.timeline main .waiting {
  display: inline-block;
  background-color: rgba(255, 255, 0, 0.7);
  height: 35px;
}

.timeline main .burst {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.7);
  height: 35px;
}

/* Run controls */
.buttons {
  flex-direction: row;
}

.buttons button {
  padding: 10px;
  border: none;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.buttons button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
